* {
    box-sizing: border-box;
}
body{ 
    text-align: center;
    margin: 0;
    padding: 0;
   
}
body.dark {
  background-color:#0c0b0b61;
  color: white;
}
.container{
    width: 100%;
    height: 100vh;
    display: flex;
}
.azu{
    width: 100%;
    height: 4rem;
    display: flex;
}
.azu2{
    width: 100%;
    height: 4rem;
    display: flex;
    opacity: 0;
}
.altura1 {
    width: 100%;
    height: rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1 {
    margin-top: 10px;
} 
.carita {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nalga {
    background-image: radial-gradient(circle at 54.22% 1.72%, #fb8f41 0, #ff8244 10%, #ff7448 20%, #ff634c 30%, #ff5052 40%, #ff3858 50%, #fb1260 60%, #f50069 70%, #ee0074 80%, #e50081 90%, #da008e 100%);
    justify-content: center;
    color: white;
    text-shadow: 2px 2px black;
}
.altura2 {
    height: auto;

    

}

.auto p:first-child{
    font-weight: bold;
    font-size: 120%;
    color: green;
    
}
.ola:active {
    color: white;
    font-size: 155%;
    background-color: #fb1260;

}
.lola:link {
    color: #fb8f41;
}
.lola:any-link {
    border-radius: 25%;
    border: solid orangered;
}
.lola:visited {
    font-size: 110%;
    color: green;
}
input:checked + label {
    color: red;
    font-size: 150%;
}
input:default {
    box-shadow: 0 0 2px 1px coral;
}
  
input:default + label {
    color: green;
}
#nati:checked {
    color: #fb1260;
    font-size: 110%;
}

.navbar {
    width: 100%;
    position: fixed;
    
}
.navbar.active {
    background-color: black;
    position: fixed;
}
.exciting-text::after {
    content: " <- EXCITING!";
    color: green;
  }
  
  .boring-text::after {
    content: " <- BORING";
    color: red;
  }
  q::before {
    content: "«";
    color: blue;
  }
  q::after {
    content: "»";
    color: red;
  }
  .primero::first-letter {
    color: red;
    font-size: 130%;
  }
  .kk::first-line {
    color: blue;
    text-transform: uppercase;
  }
  .pishi::grammar-error {
    text-decoration: underline red;
    color: red;
  }
  
  